/* Work Sans Font from Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;0,800;1,800&family=Work+Sans:wght@400;500;600;700&display=swap');

/* shared sections styles */

* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
    margin: 0;
}

.btn-primary {
    color: #FFF;
    background: #2a8a91;
    font-size: 1.25rem;
    font-weight: 600;
    width: 180px;
    height: 64px;
    border: none;
    border-radius: 4px;
    margin: 50px 0;
    cursor: pointer;
}

.section-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

.info-text {
    color: #727272;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

/* header section styles */

header {
    background-color: rgba(127, 255, 212, 0.322);
    padding: 50px 230px;
}

/* nav section styles */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    justify-content: space-between;
    padding-inline-start: 0;
    gap: 30px;
}

nav li {
    list-style: none;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner section styles */

.banner-content {
    text-align: center;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
    margin-top: 80px;
}

.banner-info {
    margin-top: 20px;
}

.banner img {
    width: 100%;
}

/* main section styles */

main {
    max-width: 1440px;
    margin: 80px auto;
}

/* teams section styles */

.teams-section {
    display: flex;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams-content {
    padding: 0 100px;
}

.teams-title {
    font-size: 2.8rem;
}

.teams-title .grey {
    color: #727272;
    font-weight: 500;
}

.teams-title .black {
    color: #131313;
    font-weight: 700;
}

.teams-title .green {
    color: #2a8a91;
    font-weight: 700;
}

.teams-info {
    padding-top: 20px;
}

/* facts section styles */

.facts-section {
    margin-top: 80px;
}

.facts-title {
    margin-bottom: 25px;
}

.facts-info {
    margin-bottom: 80px;
}

.facts-card-container {
    display: flex;
    justify-content: space-around;
}

.facts-card-container .card {
    border-radius: 4px;
    border: 1px solid #2a8a91;
    padding: 30px;
    text-align: center;
}

.facts-card-container .card-stat {
    color: #424242;
    font-size: 2.8rem;
    font-weight: 600;
    margin: 10px 0;
}

.facts-card-container .card-title {
    color: #727272;
    font-size: 1.25rem;
    font-weight: 600;
}

.facts-card-container .card img {
    margin-bottom: 15px;
}

/* sponsors section styles */

.sponsors-section {
    margin-top: 80px;
    text-align: center;
}

.sponsors-title {
    margin-bottom: 25px;
}

.sponsors-img-container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

/* responsive media queries: mobile/smaller devices*/

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams-section,
    .facts-card-container,
    .sponsors-img-container {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 40px;
    }

    nav li {
        font-size: 0.8rem;
    }

    .banner-title {
        font-size: 2rem;
        margin-top: 20px;
    }

    .teams-content {
        padding: 0;
    }

    .facts-card-container {
        padding: 0 20px;
    }

    .btn-teams {
        margin: 50px 100px;
    }

    .teams-img-container {
        grid-template-columns: 1fr;
    }

    .teams-title {
        margin-top: 80px;
    }

    .teams-title,
    .teams-info {
        text-align: center;
    }

    .facts-card-container {
        gap: 20px;
    }

    .facts-title,
    .facts-info {
        text-align: center;
    }
}

/* responsive media queries: tablet/medium devices*/

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 30px;
    }

    nav,
    .teams-section,
    .sponsors-img-container {
        flex-direction: column;
    }

    .nav-title {
        margin-bottom: 40px;
    }

    nav li {
        font-size: 0.8rem;
    }

    .banner-title {
        font-size: 2rem;
        margin-top: 20px;
    }

    .teams-content {
        padding: 0;
    }

    .teams-title {
        margin-top: 80px;
        text-align: center;
    }

    .teams-info {
        max-width: 600px;
        margin: 0 auto;
    }

    .btn-teams {
        margin: 50px 400px 50px 350px;
    }

    .facts-title,
    .facts-info {
        text-align: center;
    }
}